# Code owners
.github/CODEOWNERS          @exercism/guardians

# Changes to `fetch-configlet` should be made in the `exercism/configlet` repo
bin/fetch-configlet         @exercism/guardians
bin/fetch-configlet.ps1     @exercism/guardians
